<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
    <title>eSchool - Login</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div id="sidebar" class="d-flex flex-column flex-shrink-0 bg-light sidebar collapse show-lg sticky-top" style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                        <span class="fs-4">ESchool Teacher's Main Page</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#home"></use>
                                </svg>
                                Example Course #1
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#speedometer2"></use>
                                </svg>
                                Example Course #2
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#table"></use>
                                </svg>
                                Example Course #3
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#grid"></use>
                                </svg>
                                Example Course #4
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                Example Course #5
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                Create a course
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                Add course
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                            id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/suvicsabika.png" alt="" width="32" height="32"
                                class="rounded-circle me-2">
                            <strong>Name here</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/login.html">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12">
                <h1>Creating course work for students:</h1>
                <h2>Select a course:</h2>
                <select class="form-select" aria-label="Default select example">
                    <option value="1" selected>Example course #1</option>
                    <option value="2">Example course #2</option>
                    <option value="3">Example course #3</option>
                </select>
                <hr>
                <form>
                    <div class="assigment">
                        <div class="mb-3">
                            <label for="type" class="form-label">Select type of the assigment:</label>
                            <select class="form-select" aria-describedby="typeHelp" id="type">
                                <option value="1" select>Assigment</option>
                                <option value="2">Announcement</option>
                            </select>
                            <div id="typeHelp" class="form-text">Example text for teachers</div>
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description">
                        </div>
                        <div class="mb-3">
                            <label for="studentfiles" class="form-label">Upload files for students</label>
                            <input type="file" class="form-control" id="studentfiles" aria-describedby="studentfilesHelp">
                            <div id="studentfilesHelp" class="form-text">Provide files for students!</div>
                        </div>
                    </div>
                    <div class="announcement">
                        <label for="Announcement" class="form-label">Announcement</label>
                        <input type="text" class="form-control" id="Announcement" aria-describedby="AnnouncementHelp">
                        <div id="Announcement" class="form-text">Communicate with students!</div>
                    </div>
                    <button type="submit" class="btn btn-success">Create work</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>