<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="static/styles.css" type="text/css"> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    {% comment %} <script src="satic/script.js"></script> {% endcomment %}
    <title>eSchool - Login</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light sticky-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">ESchool - Teacher's</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Mainpage</a>
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> {% endcomment %}
            </ul>
            <img src="https://github.com/suvicsabika.png" alt="" width="32" height="32"
            class="rounded-circle me-2">
            <h5>{{ name }} - Teacher</h5>
            <a href="{% url 'logout' %}"><button class="btn btn-secondary">Logout</button></a>
          </div>
        </div>
      </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div id="sidebar" class="d-flex flex-column flex-shrink-0 bg-light sidebar collapse show-lg" style="width: 280px;">
                    <p>The assigments that you gave to the students:</p>
                    <ul class="nav nav-pills flex-column mb-auto">
                        {% for assignment in assigments %}
                        <li class="nav-item">
                            <a href="#" class="nav-link" aria-current="page" aria-describedby="deadline">
                                {{ assignment.course }} - {{ assignment.title }}
                            </a>
                            <div id="deadline" class="form-text">Deadline: {{ assignment.due_date }}</div>
                        </li>
                        <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="row">
                    <div class="col-5" style="border-right: solid gray 1px">
                        <h1>Assign course work for your studens or tell them important messages:</h1>
                        <a href="{% url 'teacher_create_work' %}"><button class="btn btn-primary">Add course work</button></a>
                    </div>
                    <div class="col-1">
                        <h1>Or</h1>
                    </div>
                    <div class="col-5" style="border-left: solid gray 1px">
                        <h1>Create courses for students to join in</h1>
                        <a href="{% url 'teacher_create_course' %}"><button class="btn btn-success">Create course</button></a>
                    </div>
                </div>
                <hr>
                <h1>You are teaching in this courses:</h1>
                <div class="card-group">
                    {% for course in teacher_courses %}
                    <div class="card">
                      {% comment %} <img src="static/placeholder.png" class="card-img-top" alt="..."> {% endcomment %}
                      <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description }}</p>
                        <p class="card-text">Course code: {{ course.course_id }} </p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last checked in x time ago.</small>
                      </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>